
@{
    ViewData["Title"] = "Seven2";
}

<h1>Seven2</h1>
<div class="container-fluid" id="content">


</div>

@section Scripts{
    <script src="~/datas/travel.js"></script>

    <script>
        const DataFromJS = spots.CommonFormat.Section.map(product => {
            const { file, stitle, xbody } = product

            return(
            `<div class="card" style="width: 18rem;">
                             <img src="${file.img[0].text}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">${stitle}</h5>
             <p class="card-text">${xbody}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>           
            `
            )
        })

        document.querySelector('#content').innerHTML = DataFromJS.join("")


    </script>

}
